play-btn.solid .play-btn__bgr {
  fill: var(--accent-primary);
  stroke: var(--accent-focus);
}

play-btn.solid .play-btn__play {
  fill: #fff;
}

play-btn.solid .play-btn__pause {
  fill: #fff;
}

play-btn.solid[progress='1'] .play-btn__bgr,
play-btn.solid:not([progress]):not([loading]) .play-btn__bgr {
  stroke-width: 0;
}