play-btn.slow .play-btn__bgr {
  fill: var(--accent-light);
}

play-btn.slow .play-btn__play {
  fill: #fff;
}

play-btn.slow .play-btn__pause {
  fill: #fff;
}

play-btn.slow[progress='1'] .play-btn__bgr,
play-btn.slow:not([progress]):not([loading]) .play-btn__bgr {
  stroke-width: 0;
}