play-btn {
  cursor: pointer;
  display: inline-block;
}

play-btn .play-btn__bgr {
  stroke: var(--accent-primary);
  stroke-width: 2;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  fill: none;
  stroke-dasharray: 72, 72;
  transition: stroke-dashoffset 100ms;
}

play-btn .play-btn__play {
  fill: var(--accent-primary);
}

play-btn .play-btn__pause {
  fill: var(--accent-primary);
  visibility: hidden;
}

play-btn[playing] .play-btn__pause,
play-btn[loading] .play-btn__pause {
  visibility: visible;
}

play-btn[playing] .play-btn__play,
play-btn[loading] .play-btn__play {
  visibility: hidden;
}

play-btn[loading] .play-btn__bgr {
  stroke-dasharray: 0, 72;
  animation: dash 1.5s ease-in-out infinite, rotate 2s linear infinite;
  stroke-linecap: round;
}

@keyframes dash {
  100% {
    stroke-dasharray: 72, 72;
    stroke-dashoffset: -71.5;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}